@model IEnumerable<MVCround2.Models.Location>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h1>Where in the world of Ghibli?</h1>
    <table>
        @foreach (var location in Model)
        {
            <tr>
                <td>@location.Name</td>
                <td>@location.Climate</td>
                <td>@location.Terrain</td>
            </tr>
        }
    </table>
</body>
</html>